<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('../layout/head.ejs') %>
    </head>

    <body>
        <%- include('../layout/header.ejs') %>
            <main>
                <h2 class="title">COVID19 Statistics</h2>
                <div class="cards">
                    <% data.forEach(element=> {%>
                        <div class="card">
                            <h1 class="country">
                                <%= element.country%>
                            </h1>
                            <p>
                                Date: <%= element.date%>
                            </p>

                            <p>
                                Cases: <%= element.cases%>
                            </p>
                        </div>
                        <% }); %>
                </div>
            </main>
            <footer></footer>
    </body>

</html>
