<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('../layout/head.ejs') %>
    </head>

    <body>
        <%- include('../layout/header.ejs') %>
            <div class="content">
                <div class="info">
                    <p>
                        Total Confirmed: <%=data.TotalConfirmed %>
                    </p>
                    <p>
                        Total Deaths: <%=data.TotalDeaths %>
                    </p>
                    <p>
                        Total Recovered: <%=data.TotalRecovered %>
                    </p>
                </div>
                <form action="/getCountryResult" method="GET" class="result">
                    <input type="text" name="country" placeholder="country name">
                    <input type="date" name="from" placeholder="from">
                    <input type="date" name="to" placeholder="to">
                    <input type="submit" value="get the results" class="btn">
                </form>
            </div>

    </body>

</html>
